<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<nav>
		<img src="/images/camera.svg">
		<a href="/performers/new">ADD PERFORMER</a>
		<a href="/movies/new">ADD MOVIE</a>
		<a href="/movies">ALL MOVIES</a>
	</nav>
	<main>
		<h2>Enter a New Movie</h2>
		<form action="/movies" method="POST">
			<label>Title:
				<input type="text" name="title">
			</label><br>
			<label>Release Year:
				<input type="number" name="releaseYear">
			</label><br>
			<label>MPAA Rating
				<select name="mpaaRating">
					<option value="G">G</option>
					<option value="PG">PG</option>
					<option value="PG-13">PG-13</option>
					<option value="R">R</option>
				</select>
			</label><br>
	
			<label>Now Showing:
				<input type="checkbox" name="nowShowing" checked>
			</label><br>
			<button type="submit">Add Movie</button>
		</form>
	</main>
</body>

</html>